# =================================================
#  Dependencias del Proyecto
# =================================================

# --- Framework de Deep Learning (PyTorch con CUDA ) ---
# Se usa --index-url para forzar a pip a buscar en el repositorio de PyTorch para CUDA 12.6.
# Esto asegura que se instale una versión compatible con la GPU.
--index-url https://download.pytorch.org/whl/cu126

torch
torchvision

# --- Ecosistema de TensorFlow y Data Science ---
# Se usa --extra-index-url para añadir PyPI (el repositorio estándar ) como fuente secundaria.
--extra-index-url https://pypi.org/simple

tensorflow
tensorflow-datasets
pandas
scikit-learn
numpy
scipy
seaborn
Pillow
h5py

# --- Herramientas de Desarrollo y Notebooks ---
ipython
jupyter
prettytable
matplotlib
tqdm
bayesian-optimization
kagglehub